<h1>Editing fixture</h1>

<%= render 'form' %>

<div id="admin">
  <%= form_tag(:action => @fixture.cancelled ? "uncancel" : "cancel") do -%>
  <%= hidden_field_tag(:id, @fixture.id) %>
    <div class="actions">
      <input type="submit" value="<%= @fixture.cancelled ? 'Uncancel' : 'Cancel' %> fixture"/>
    </div>
  <% end -%>  
  <%= link_to 'Back', '/' %>
</div>